# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo

# ============================
# Virtual Environment
# ============================
.venv/
venv/

# ============================
# Jupyter Notebook
# ============================
.ipynb_checkpoints/

# ============================
# VS Code
# ============================
.vscode/

# ============================
# Environment Variables
# ============================
.env

# ============================
# Dataset
# ============================
dataset/

# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db

# ============================
# Logs
# ============================
*.log

# ============================
# Build Files
# ============================
build/
dist/

# ============================
# Temporary Files
# ============================
*.tmp
*.bak